* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 163, 204);
}

#log {
  padding: 16px;
}

#box-input {
  padding: 16px;
  background-color: rgb(0, 134, 183);
}

#text-input {
  width: 70%;
  padding: 8px;
}

#input-send {
  width: 30%;
  padding: 8px;
}
